*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(45deg,#6bd5c1b5,#5128c2b5) ;

}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.calculadora{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(70, 56, 115);
    background-color: white;
    #equal{
        height:130px ;
    }
    #display{
        color: rgb(58, 57, 57);
        margin: 0 10 px;
        height: 120px;
        width: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 800;
    }
    button#clear{
        background-color: #ffd5d8;
        color: red;
       
    }
    .btn-number{
        background-color: rgb(179, 223, 236);
        color:black
    }
    .btn-operator{
        background-color: rgb(192, 245, 192);
        
    }
    .btn-equal{
        background-color: rgb(192, 245, 192);
    }
    /* dark theme*/
    &.dark{
        background-color: #1b1b1b;
        #display{
            color: #f8fafb
        }
        #clear{
            background-color: #4c35aa;
            color:#f8fafb
        }
        .btn-number{
            background-color: #8efda6;
            color: #1b1b1b;
            font-weight: 600;
        }
        .btn-operator{
            background-color: #f0db4f;
            color: black;
        }
        .btn-equal{
            background-color: #f23b00;
            color: #ffffff;
        }
       
    }
    .theme-toggler{
        background-color: #1b1b1b;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        z-index: 1;
        &::before{
            position: absolute;
            background-color:#1b1b1b;
            content: '' ;
            height: 30px;
            width: 30px;
            top: 50%;
            transform: translate(-50% , -50%);
            border-radius: 50%;
            z-index: -1;
        }
    }
    .theme-toggler.active{
        
        color:white;
        &::before{
            background-color: #f8fafb;
            content: '' ;
        }
       

    }
    button{
       height: 60px;
       width: 60px;
       border:0;
       border-radius: 30px;
       margin: 5px;
       font-size: 20px;
       cursor: pointer;
       transition: all 200ms ease;
       &:hover{
        transform: scale(1.1);
       }

    }
}

